@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    /*background-color: garamond;*/
    font-family: cochin, serif;
    text-align: center;  
    background: url('fresh_snow.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color:black; 
    font-size:300%; 
    position: absolute; 
    top:75px; 
    left:105px;
}

h2 {
    color: black; 
    font-size: 200%;
}

h3 {
    color:black; font-size:150%; position: absolute; top:140px;left:105px;
}

p {
    color: black; 
    font-size: 150%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display:inline;
}

li a {
    color: lightblue;
    padding: 10px 15px;
    text-decoration: none;
    font-size:140%;
    float:right;
    background: rgba(0, 0, 0, 0.7);
}

li a:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
}

.hero {
    background: url('ireland_magic.jpg') no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 600px;
    box-shadow: 0px 3px 8px #2a2a2a;
    /*filter: brightness(75%);*/
}

.hero2 {
    background: url('castle.jpg') no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 600px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

.hero3 {
    background: url('stocks3.jpg') no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 600px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

.hero4 {
    background: url('bellows6.jpg') no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 600px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

.pad {
    padding-left: 150px;
    padding-right: 150px;
}

.frosty {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 0px 250px;
}
